server:
  port: 8080

spring:
  application:
    name: pagos-interbancarios

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:sqlserver://sqlserver:1433;databaseName=master;encrypt=false}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:YourStrong!Passw0rd}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  flyway:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

resilience4j:
  timelimiter:
    instances:
      banco-destino:
        timeout-duration: 2s
  retry:
    instances:
      banco-destino:
        max-attempts: 3
        wait-duration: 200ms

